system_ext/priv-app/ZuiSystemUI/ZuiSystemUI.apk
system/system/preinstall/Tide/Tide.apk
system/system/preinstall/Opera/Opera.apk
system/system/preinstall/ZuiNotes/ZuiNotes.apk
system/system/preinstall/Moffice_ROW/Moffice_ROW.apk
system/system/priv-app/PenService/PenService.apk
system/system/priv-app/ZuiCamera/ZuiCamera.apk
system/system/priv-app/ZUIEpos/ZUIEpos.apk
system/system/priv-app/ZuiStandbyMode/ZuiStandbyMode.apk
system/system/priv-app/ZuiSettings/ZuiSettings.apk
system/system/priv-app/ZuiWallpaperSetting/ZuiWallpaperSetting.apk
vendor/lib64/mt6897/libaibc_tuning_p2.so
vendor/lib64/mt6897/libaibc_tuning.so
product/priv-app/Velvet/Velvet.apk
product/priv-app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MotoReadyFor/MotoReadyFor.apk
product/app/Maps/Maps.apk
product/app/Gmail2/Gmail2.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/YouTube/YouTube.apk
product/app/Photos/Photos.apk
fs_config_dirs
fs_config_files
