# BEGIN Lenovo, zhilx1, 2024/06/12, LGSIU-12947, add smart connect usb mode.
on property:sys.usb.config=readyfor && property:sys.usb.configfs=1
    mkdir /config/usb_gadget/g1/functions/rndis.gs4
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "readyfor"
    write /ocnfig/usb_gadget/g1/idVendor 0x17EF
    write /ocnfig/usb_gadget/g1/idProduct 0x2E46
    symlink /config/usb_gadget/g1/functions/rndis.gs4 /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=readyfor,adb && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=readyfor,adb && property:sys.usb.configfs=1
    mkdir /config/usb_gadget/g1/functions/rndis.gs4
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "readyfor_adb"
    write /ocnfig/usb_gadget/g1/idVendor 0x17EF
    write /ocnfig/usb_gadget/g1/idProduct 0x2E47
    symlink /config/usb_gadget/g1/functions/rndis.gs4 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}
# END LGSIU-12947
